.chats{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
/* TOP BAR */

.chats-topbar{
    display: flex;
    justify-content:space-between;
    margin: 10px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
  }
.chats-topbar i{
    margin: 0 10px;
    font-size: 20px;
}
.chats-topbar>i:nth-child(1):hover{
    animation: search-ani 1s linear forwards;
}
.chats-topbar i:nth-child(2):hover{
    transform: translateY(-3px);
}
.chats-topbar i:nth-child(3):hover{
    animation: music-ani 1s linear;
}


.nabigation-bar__chats a{
    color:rgb(175, 160, 147);
}
.nabigation-bar__chats a:nth-child(2){
    color: rgb(66, 48, 36);
}

/* -------------  Chats List --------------- */
.chats-li{
    margin-bottom: 60px;
}
.chats-pro{
    display: flex;
    margin: 20px;
    position: relative;
}
.chats-pro:hover{
    background-color: rgb(255, 243, 233);
    
    border-radius: 20px;
}
.chats-info{
    display: flex;
    flex-direction: column;
}
.chats-pro img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10px;
}
.chats-info__name{
    font-weight: 600;
}
.chats-info__mesage{
    font-size: 15px;
    width: 90%;
    color:rgb(155, 155, 155);
}
.chats-pro__judith img{
    width: 60px;
    height: 60px;
    margin-right: 20px
}
.chats-info__name__judith{
    font-size: 25px;
}
.chats-line{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-top: 1px solid gainsboro;
    color: gainsboro;
    font-weight:lighter;
}
.chats-time{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chats-time span:first-child{
    font-size: 12px;
    opacity: 0.5;
}
.chats-time__num{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: tomato;
    font-weight: 600;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
}

/* -----------------------------------*/
@keyframes nab-bar__ani{
    0%{
        transform: translate(0);
        transform: scaleX(1.1);
        transform: scaleY(0.9);
    }
    25%{
        transform: translateY(-1.5px);
    }
    50%{
        transform: translateY(-3px) scaleY(1.1) scaleX(0.9);
    }
    75%{
        transform: translateY(-1.5px);
    }
    100%{
        transform: translate(0);
        transform: scaleX(1.1);
        transform: scaleY(0.9);
    }
}
.nab-bar__rel{
    position: relative;
    
}
.nab-bar__num{
    position: absolute;
    font-size: 10px;
    width: 15px;
    height: 15px;
    top: -7px;
    right: -7px;
    animation: nab-bar__ani 1s ease-in-out infinite;
}