.friend{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/* TOP BAR */
@keyframes search-ani{
    0%{
        transform: none;
    }
    50%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: none;
    }
}
@keyframes music-ani{
    0%{
        transform: none;
    }
    20%{
        transform: rotateZ(20deg);
    }
    80%{
        transform: rotateZ(-20deg);
    }
    100%{
        transform: none;
    }
}
@keyframes cog-ani{
    0%{
        transform: none;
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.topbar{
    display: flex;
    justify-content:space-between;
    margin: 10px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
  }
.topbar i{
    margin: 0 10px;
    font-size: 20px;
}
.topbar>i:nth-child(1):hover{
    animation: search-ani 1s linear forwards;
}
.topbar i:nth-child(2):hover{
    animation: music-ani 1s linear;
}

.fa-cog{
    color: black;
}



.nabigation-bar{
    display: flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;

    background-color: rgb(240, 240, 240);
}
.nabigation-bar__friend a{
    color:rgb(175, 160, 147);
}
.nabigation-bar__friend a:first-child{
    color: rgb(66, 48, 36);
}
/* -----------------------------------------*/
.friend-display{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    margin: 20px 0;
    background-color: rgb(240, 240, 240);
    color: rgb(155, 155, 155);
    opacity: 0.7;
    padding: 10px 0;
}
.friend-display span{
    margin: 0 20px;
}

/* --------------------------*/
.friend-pro{
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px;
}
.friend-pro:hover{
    background-color: rgb(255, 243, 233);
    
    border-radius: 20px;
}
.friend-pro> span{
    position: absolute;
    right: 0px;
    font-size: 12px;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    color: rgb(136, 136, 136);
    padding: 0 3px;
}
.fa-play-circle{
    color: yellowgreen;
}

.friend-info{
    display: flex;
    flex-direction: column;
}
.friend-pro img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 10px;
}
.friend-info__name{
    font-weight: 600;
}
.friend-info__mesage{
    font-size: 15px;
    color:rgb(155, 155, 155);
}
.friend-pro__judith img{
    width: 60px;
    height: 60px;
    margin-right: 20px
}
.friend-info__name__judith{
    font-size: 25px;
}
.friend-line{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-top: 1px solid rgb(163, 163, 163);
    color: rgb(163, 163, 163);
    font-weight:lighter;
}
.suspect-li{
    margin-bottom: 50px;
}
