@import "index.css";
@import "friend.css";
@import "chats.css";
@import "find.css";
@import "more.css";
@import "setting.css";

@import "chat.css";
@import "bigscreen.css";
@import "loading_ani.css";


:root{
    --main-color:rgb(85, 66, 53);
}
body{
    margin: 0;
    color: rgb(58, 45, 37);
  }

